################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/desktop-tutorial/FileContentIndex
/.vs/desktop-tutorial/v17
/TestSecurityReport/TestSecurityReport/bin/Debug/net8.0
/TestSecurityReport/TestSecurityReport/obj/Debug/net8.0/ref
/TestSecurityReport/.vs/TestSecurityReport/FileContentIndex
/TestSecurityReport/TestSecurityReport/obj/Debug/net8.0/staticwebassets
/TestSecurityReport/TestSecurityReport/obj/Debug/net8.0/refint
/TestSecurityReport/TestSecurityReport/obj/Debug/net8.0
